.HomePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    .header-container{
        width: 100%;
        

    }
    .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 30%;
            height: 30%;
        }
        h1{
            color: #2e3456;
        }
    }
    .footer-container{
        display: flex;
    }
}