.newautopage {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   border: 2px solid #515256;
   align-items: center;
   color:#2d3455;
   padding-bottom: 1.5rem;

}

.pnewauto {
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 2rem;
   text-align: center;
}

.AutoForm :nth-child(11){
   display: grid;
   grid-template-rows: 2;
   grid-template-columns: 2;
}

.AutoForm :nth-child(13){
   display: grid;
   grid-template-rows: 2;
   grid-template-columns: 2;
}

.doslabel {
   grid-column-start: 1;
   grid-row: 2;
}

.treslabel {
   grid-column-start: 1;
   grid-row: 3;
}

.inputgriddos {
   grid-row: 2;
}

.inputgridtres{
   grid-row: 3
}
.newPhotoContainer img{
   max-width: 100%;
}