.newadmin-container {
   display: flex;
   flex-direction: column;
   width: 95vmin;
   margin: 0 auto;
   border: 2px solid #515256;
   align-items: center;
   color:#2d3455;
   padding-bottom: 1.5rem;

}


.pnewadmin{
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 2rem;
   text-align: center;
}

