@import "./global";

// Components
@import "./components/layout";
@import "./components/Header";
@import "./components/Footer";



// Pages
@import "./pages/home";
@import "./pages/login";
@import "./pages/autos";
@import "./pages/newUser";
;
@import "./pages/newAuto";